ol{
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

header,p{
  font-weight:bold;
}


/* new stuff here */

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.appfont{
  font-weight: bold;
  color: blue;
}

.box {
  padding: 10px;
  background-color: gold;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  background-color: black;
}
.delete {
  display: block;
  font-size: 1.0em;
  margin-bottom: 10px;
  background-color: white;
color: black
}

@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
}
.login-box {
  max-width: 200px; 
  margin: 20px; 
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: black
}

li {
  color: blue; 
  font-weight: normal; 
}
.add-detail{

    color: black; 
    font-weight: normal; 
}
.add-color{

  color: darkolivegreen; 
  font-weight: bold;
  font-size: .95em; 
}
.add-border {
  border: 2px solid black; 
  padding: 10px; 
  margin-top: 10px; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
}

.main-container {
  border: 2px solid black; 
  background-color: black; 
  padding: 20px; 
  margin: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: subtle shadow for depth */
  justify-content: center;
  align-items: center;
}

.important-button {
  background-color: #d9534f; /* Bootstrap's 'danger' red */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 5px 5px; /* Reduced padding */
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow */
}

.important-button:hover {
  background-color: #c9302c; /* Darker shade on hover */
  transform: translateY(-1px); /* Slight upward movement */
}

.important-button:active {
  background-color: #ac2925; 
  transform: translateY(0); 
}




.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.form-group label {
  width: 100px; 
  margin-right: 10px; 
}

.form-container {
  position: relative;
  min-height: 200px;
  padding: 10px; 
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

input[type="button"] {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo-container {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .logo-container {
    display: none;
  }
}